@font-face {
  font-family: 'Pragmatica';
  src: url('./fonts/Pragmatica-Book.woff2') format('woff2'),
    url('./fonts/Pragmatica-Book.woff') format('woff'),
    url('./fonts/Pragmatica-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Vela Sans';
  src: url('./fonts/VelaSans-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
