body.index {
  display: grid;

  grid-template-rows: repeat(8, 1fr);
  grid-template-areas:
    'header header header'
    'border border .'
    'border border .'
    'border border .'
    'input input button';
  grid-auto-flow: column;

  gap: 20px;

  justify-content: center;
  background-color: var(--black);
  h1,
  p {
    font-family: 'Pragmatica';
  }
  h1 {
    font-size: 40px;
    color: var(--white);
    text-align: center;
  }
  p {
    color: var(--white);
  }
  .logo {
    width: 120px;
    height: 60px;
    background-image: url('images/logo.svg');
  }
  #my-form-button {
    height: 120px;
    background-color: var(--accent);
    border: none;
    grid-area: button;
    font-size: 30px;
    &:hover {
      background: var(--additional);
      color: var(--white);
    }
  }
  input {
    height: 120px;
    grid-area: input;
  }
  header {
    display: flex;
    flex-direction: row;
    align-items: center;
    grid-area: header;
  }
  .border {
    position: relative;
    display: flex;
    justify-content: center;
    max-height: 600px;
    border: 20px solid var(--additional);
    grid-area: border;
  }
  .text_block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background: var(--additional);
  }
  .tb2 {
    position: absolute;
    max-width: 935px;
    bottom: 60px;
  }
  .tb3 {
    position: absolute;
    max-width: 287px;
    bottom: 0;
  }
  .container {
    position: relative;
    width: 320px;
    margin: -400px auto 0 auto;
    perspective: 1000px;
  }

  .carousel {
    position: absolute;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    animation: rotate360 60s infinite forwards linear;
  }
  .carousel__face {
    position: absolute;
    width: 300px;
    height: 187px;
    top: 20px;
    left: 10px;
    right: 10px;
    background-size: cover;
    // box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
    display: flex;
  }

  .carousel__face:nth-child(1) {
    background-image: url('images/lantern.png');
    transform: rotateY(0deg) translateZ(430px);
  }
  .carousel__face:nth-child(2) {
    background-image: url('images/street.png');
    transform: rotateY(60deg) translateZ(430px);
  }
  .carousel__face:nth-child(3) {
    background-image: url('images/tsaritsyno.png');
    transform: rotateY(100deg) translateZ(430px);
  }
  .carousel__face:nth-child(4) {
    background-image: url('images/khitrovka.png');
    transform: rotateY(160deg) translateZ(430px);
  }
  .carousel__face:nth-child(5) {
    background-image: url('images/kremlin.png');
    transform: rotateY(200deg) translateZ(430px);
  }
  .carousel__face:nth-child(6) {
    background-image: url('images/сhancellery.png');
    transform: rotateY(260deg) translateZ(430px);
  }

  @keyframes rotate360 {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(-720deg);
    }
  }
}
