body.places {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: repeat(14, 1fr);
  grid-auto-rows: 4.7vw;
  gap: 30px;
  max-width: 1920px;
  margin: 0 auto;
  color: var(--white);
  background-color: var(--black);
  font-family: Pragmatica;
  overflow-x: hidden;

  .menu {
    grid-column: 2 / 14;
    grid-row: 1 / 2;
    margin-top: 0.8vw;
  }

  .footer {
    grid-column: 2 / 14;
    grid-row: 41 / 42;
  }

  .cover {
    grid-column: 1 / 15;
    grid-row: 2 / 8;
    background-image: url('./images/MI1.webp');
    background-size: cover;
    z-index: 1;
  }

  h1 {
    font-family: Pragmatica Extended;
    font-size: 5.5vw;
    line-height: 90%;
    padding-top: 1.6vw;
    padding-left: 3vw;
    color: var(--black);
  }

  h2 {
    font-size: 2.9vw;
    line-height: 100%;
  }

  h3 {
    font-size: 1.7vw;
    line-height: 130%;
  }

  p {
    font-size: 1.4vw;
    line-height: 150%;
  }

  a {
    text-decoration: none;
    color: var(--white);
  }

  a:hover {
    color: var(--dark);
    cursor: pointer;
    transition: 0.3s;
  }

  .tags {
    font-size: 1.25vw;
    color: var(--accent);
    grid-column: 1 / 10;
    grid-row: 8 / 9;
    display: flex;
    margin-left: 7vw;

    p {
      padding-right: 2vw;
    }

    p:last-child {
      color: var(--white);
    }

    p:last-child:hover {
      opacity: 0.8;
      transition: 0.3s;
      cursor: pointer;
    }
  }

  .shape {
    grid-column: 1 / 8;
    grid-row: 2 / 5;
    background-repeat: no-repeat;

    background-image: url('./images/MI-shape-1.svg');
    background-size: contain;
    margin-top: 3vw;
    z-index: 5;
  }
}
