body.places {
  display: grid;
  width: 100vw;
  height: 100vh;
  grid-template-columns: repeat(14, 1fr);
  grid-auto-rows: 4.7vw;
  gap: 30px;
  max-width: 1920px;
  margin: 0 auto;
  color: var(--white);
  background-color: var(--black);
  font-family: Pragmatica;
  overflow-x: hidden;

  .menu {
    grid-column: 2 / 14;
    grid-row: 1 / 2;
    margin-top: 0.8vw;
  }

  .footer {
    grid-column: 2 / 14;
    grid-row: 45 / 46;
  }

  .cover {
    grid-column: 1 / 15;
    grid-row: 2 / 8;
    background-image: url('./images/MI1.webp');
    background-size: cover;
    z-index: 1;
  }

  h1 {
    font-family: Pragmatica Extended;
    font-size: 5.5vw;
    line-height: 90%;
    padding-top: 1.6vw;
    padding-left: 3vw;
    color: var(--black);
  }

  h2 {
    font-size: 2.9vw;
    line-height: 100%;
  }

  h3 {
    font-size: 1.7vw;
    line-height: 130%;
  }

  p {
    font-size: 1.4vw;
    line-height: 150%;
  }

  a {
    text-decoration: none;
    color: var(--white);
  }

  a:hover {
    color: var(--dark);
    cursor: pointer;
    transition: 0.3s;
  }

  .tags {
    font-size: 1.25vw;
    color: var(--accent);
    grid-column: 1 / 10;
    grid-row: 8 / 9;
    display: flex;
    margin-left: 7vw;

    p {
      padding-right: 2vw;
    }

    p:last-child {
      color: var(--white);
    }

    p:last-child:hover {
      opacity: 0.8;
      transition: 0.3s;
      cursor: pointer;
    }
  }

  .shape {
    grid-column: 1 / 8;
    grid-row: 2 / 5;
    background-repeat: no-repeat;
    background-image: url('./images/MI-shape-1.svg');
    background-size: contain;
    margin-top: 3vw;
    z-index: 5;
  }

  .map,
  iframe {
    grid-column: 2 / 14;
    grid-row: 9 / 13;
  }

  .map + h3 {
    grid-column: 3 / 13;
    grid-row: 13 / 15;
  }

  .place {
    display: block;
    box-sizing: border-box;
  }
  // 1 КАРТОЧКА
  .p1 {
    grid-column: 2 / 14;
    grid-row: 15 / 21;
  }

  .header {
    grid-column: 2 / 14;
    grid-row: 15 / 17;
    color: var(--black);

    img {
      width: 27.6vw;
      height: 4.7vw;
    }

    h3 {
      margin: -4.4vw 0 0 1.2vw;
      z-index: 5;
    }

    h3:last-child {
      margin: -0.9vw 0 0 5vw;
      z-index: 5;
    }
  }

  .description {
    display: flex;
    padding: 4vw 0 0 7vw;

    .photo {
      width: 35vw;
      height: 29vw;
      display: flex;
      flex-direction: column;

      img {
        width: 100%;
        height: 90%;
      }
    }
    .caption {
      height: 5.5vw;
      width: 27.6vw;
      background-color: var(--black);
      margin-top: -2.5vw;
      z-index: 5;
      p {
        font-size: 1.25vw;
        padding: 0.9vw 0 0 1.6vw;
      }
    }

    .photo + p {
      width: 42vw;
      height: auto;
      box-sizing: border-box;
      padding: 1.6vw 0 0 1.6vw;
    }
  }
  // 2 КАРТОЧКА
  .description-2 {
    grid-column: 8 / 14;
    grid-row: 23 / 29;

    p {
      padding-top: 4vw;
      width: 100%;
    }
  }

  .description-2 + img {
    grid-column: 1 / 7;
    grid-row: 23 / 29;
    width: 100%;
    height: 90%;
  }

  .caption {
    grid-column: 1 / 7;
    grid-row: 27 / 28;
    height: 5.5vw;
    width: 27.6vw;
    background-color: var(--black);
    margin-top: 4.5vw;
    z-index: 5;
    p {
      font-size: 1.25vw;
      padding: 0.9vw 0 0 7vw;
    }
  }

  // 3 КАРТОЧКА
  .p3 {
    grid-column: 2 / 14;
    grid-row: 30 / 36;
  }

  .v3 {
    grid-column: 2 / 14;
    grid-row: 30 / 36;
  }

  // 4 КАРТОЧКА
  .description-3 {
    grid-column: 2 / 8;
    grid-row: 38 / 44;

    p {
      padding-top: 4vw;
      width: 100%;
    }
  }

  .description-3 + img {
    grid-column: 9 / 15;
    grid-row: 38 / 44;
    width: 100%;
    height: 90%;
  }

  .c3 {
    grid-column: 10 / 15;
    grid-row: 42 / 43;
    width: 100%;

    p {
      padding: 0.9vw 0 0 1.6vw;
    }
  }

  .line-1 {
    grid-column: 1 / 4;
    grid-row: 15;
    border-top: 3px solid white;
    margin-top: 8.1vw;
  }

  .line-2 {
    grid-column: 9;
    grid-row: 43 / 45;
    border-left: 3px solid white;
  }

  .line-3 {
    grid-column: 1 / 15;
    grid-row: 44;
    border-bottom: 3px solid white;
    margin-top: -5vw;
  }

  img {
    z-index: 3;
  }
}
